        /*
        CSS의 기본 문법
        선택자 {
            속성: 값;
            속성: 값;
            }
        */
        
        /* 태그 선택자: HTML 태그 이름을 그대로 사용 */
        h2 {
            color: blue;
        }
        
        /* 클래스 선택자: 점(.)으로 시작. 여러 요소에 '별명'을 붙여 그룹으로 꾸밀 때 사용 [가장 많이 사용] */
        .highlight-text {
            background-color: yellow;
        }
        
        /* 아이디 선택자: 샵(#)으로 시작. 페이지에서 '단 하나뿐인(고유한 값)' 중요한 요소에 사용 */
        #main-title {
            border-bottom: 3px solid red;
        }
        
        /* 후손 선택자: 띄어쓰기로 구분. 특정 요소 '안에 있는' 모든 후손을 선택 */
        #lecture-list li {
            font-weight: bold;
        }
        
        /* 자손 선택자: >기호로 구분. 특정 요소의 '바로 아래 자식'만 선택 */
        body > p {
            font-size: 20px;
            color: red;
        }